/* ESTILIZAÇÃO DOS 4 HTML INCLUSAS NESSE CSS */

body {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
    background-color: #e5e5e5;
}

.header-box {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    min-height: 70px;
    background-color: #ffffff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.12);
}

.header-box div {
    flex: 0 1 63%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-box div a {
    display: flex;
    align-items: center;
}

.header-box div ul li,.header-box div ul li a,.header-box div ul {
    display: inline-block;
    margin: 0 25px 0 0;
    font-size: 14px;
    line-height: 19px;
    list-style: none;
    text-decoration: none;
    color: #545454;
}

.header-box div ul li a:hover {
    padding-top: 1px;
    border-bottom: 1px solid #FE0078;
}

.main-box {
    flex: 1;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    margin: 50px 300px 0 300px;
}

.main-box-posts {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    margin-right: 40px;
}

.main-posts {
    display: flex;
    flex-flow: column;
    min-height: 630px;
    max-width: 730px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    margin-bottom: 45px;
    margin-left: 10px;
}

.main-posts h1{
    padding-left: 1vw;
    font-weight: bold;
    font-size: 24px;
}

.main-posts p:nth-child(2){
    padding-left: 1vw;
    color: #929292;
    margin-top: -5px;
}

.main-posts p {
    margin-top: 24px;
    padding-left: 1vw;
    line-height: 19px;
    color: #000000;
}

.main-posts .grey {
    margin-top: 24px;
    padding-left: 1vw;
    line-height: 19px;
    color: #545454;
}

.main-posts .com_borda {
    border-left: 4px solid #FE0078;
    padding-left: 32px;
    margin-left: 24px;
    font-size: 15px;
}

.main-posts a {
    min-width: 154px;
    max-height: 43px;
    font-size: 15px;
    align-self: flex-end;
    text-align: center;
    text-decoration: none;
    color: #545454;
    background-color: #ffffff;
    border: 1px solid #FE0078;
    border-radius: 20px;
    margin: 20px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
    border-radius: 20px;
}

.main-posts a:hover {
    background-color: #FE0078;
    color: #ffffff;
}

/* Outras Páginas Incluidas */
.contato-p {
    /* Como dei main-posts p color: black; lá em cima, logo aqui em baixo: !important*/
    color:black !important; 
    margin-top: 24px !important;
}

.contato-subtitulo{
    font-weight: bold;
}

.main-posts div {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.main-posts span {
    font-weight: bold;
    margin-left: 10px;
}

.contato-img {
    margin-left: 15px;
}

.comentarios{
    display: flex;
    flex-flow: column;
    /* Largura exata */
    max-width: 737px; 
    min-height: 340px;
    margin-bottom: 80px;
    margin-left: 10px;
}

.comentarios p, #formulario {
    font-size: 18px;
}

.comentarios #formulario {
    display: flex;
    flex-flow: row wrap;
}

.comentarios #formulario label {
    display: flex;
    flex-flow: column wrap;
    margin-top: 16px;
    /* Pra quando o vp diminuir, os inputs diminuirem um pouco também */
    min-width: 48.9%;
}

.comentarios #formulario label input[name="assunto"]{
    min-width: 100%;
}

#formulario label input {
    margin-top: 16px;
    min-height: 42px;
    border-radius: 2px;
    border: 1px solid #EEEEEE;
    outline: 0;
}

#formulario label input:hover {
    border: 1px solid #FE0078;
}

#formulario label[for="nome"]{
    margin-right: 16px;
}

.comentarios textarea {
    resize: none;
    min-height: 176px;
    min-width: 100%;
    border: 1px solid #EEEEEE;
    border-radius: 2px;
    margin-bottom: 60px;
    outline: 0;
}

.comentarios textarea:hover{
    border: 1px solid #FE0078;
}

.comentarios button {
    min-width: 118px;
    min-height: 43px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    align-self: flex-end;
    background-color: #FE0078;
    border: 1px solid #FE0078;
    color: white;
    border-radius: 20px;
    outline: 0;
}

.comentarios button:hover {
    padding: 0 80px;
    margin-right: -40px;
    background-color: #EEEEEE;
    color: #FE0078;
}

.comentarios button:focus {
    border: 1px solid rgba(19,16,16);
    background-color: #EEEEEE;
    color: green;
}

.sobre {
    background-color: rgba(19,16,16,0.88);
}

.sobre-img {
    display:flex;
    align-items: center;
    justify-content: center;
}
.sobre-img img{
    flex: 0 1 auto;
    min-width: 50%;
    padding-bottom: 20px;
}
/* Página Padrão */

.main-aside {
    flex: 0 1 380px;
    display: flex;
    align-items: center;
    flex-flow: column;
    background-color: white;
    max-height: 1396px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    padding: 0 10px 36px 10px;
}

.main-aside-content {
    min-width: 95%;
    margin: 20px 20px 20px 20px;
}

.main-aside-content input {
    min-width: 95%;
    min-height: 52px;
    border: 1px solid #EEEEEE;
    padding-left: 10px;
    border-radius: 10px;
    font-size: 15px;
    color: #545454;
    margin-bottom: 16px;
    outline: 0;
}

.main-aside-content input:hover {
    border: 1px solid #FE0078;
}

.main-aside-content h2 {
    padding-left: 11px;
    font-weight: bold;
    font-size: 18px;
    border-left: 2px solid #FE0078;
    margin-bottom: 34px;
}

.main-aside-content div {
    color: #545454; 
    font-size: 14px;
    margin-bottom: 47px;
}

.main-aside-content div p {
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 2px dashed #EEEEEE;
}

.main-aside-content div p:hover {
    border-bottom: 2px dashed #FE0078;
    color: #FE0078;
}

.main-aside-content div span {
    margin-right: 10px;
}

.main-aside-content .box {
    flex: 0 1 340px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 240px;
    background-color: #eeeeee;
    font-size: 36px;
    border: 2px solid #eeeeee;
}

.main-aside-content .box:hover {
    border: 2px solid #FE0078;
}

.rooter {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    min-height: 70px;
    background-color: #222222;
    color: #ffffff;
    font-size: 15px;
}
