* {
    margin: 0px;
    font-family: 'PT Sans', sans-serif;
    box-sizing: border-box;
}

#imagem_topo {
    object-fit: cover;
    object-position: center;
    width: 100%;
    margin-bottom: 30px;
}


form {
    font-size: 20px;
    font-weight: 100;
    margin-left: 40px;
}

h1 {
    font-size: 50px;
    margin-bottom: 40px;
}

h2 {
    margin-bottom: 30px
}

.inputs {
    display: block;
    background-color: rgba(153, 152, 152, 0.5);
    border: 1px solid rgba(153, 152, 152, 0.5);
    border-radius: 3px;
    width: 250px;
    height: 45px;
    margin-top: 10px;
    margin-bottom: 30px;
}

label{
    color: rgba(53, 52, 52, 0.9);
}

select, .descobriu, .botao {
    display: block;
    background-color: rgba(153, 152, 152, 0.5);
    border: 1px solid rgba(153, 152, 152, 0.5);
    border-radius: 3px;
}

.estados {
    font-weight: bold;
    font-size:16px;
    width: 65px;
    height: 45px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding-left:8px;
}

.conheceu {
    font-weight: bold;
    margin-bottom: 15px;
    color: black;
}

.opcoes {
    margin-left: 8px;
    line-height: 36px;
}

.checkbox {
    margin-left: 8px;
    line-height: 10px;
}

.botao {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    width:170px;
    height: 40px;
   
}
