body {
    background-color: #30323D;
    margin: 0px;
}

.titulo {
    background-color: lightsteelblue;
    padding: 6px;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    font-family: 'Exo 2', sans-serif;
    border: 1px solid purple;
    box-sizing: border-box;
}

.conteudo {
    text-align: center;
    width: auto;
    margin-left:auto;
    margin-right:auto;
    margin-top: 50px;
    box-sizing: border-box;
}

.card {
    display: inline-block;
    width: 333px;
    background-color: #FBFCFF;
    border-radius: 8px 8px 0px 0px;
    border: 1px solid #cccccc;
    margin-right: 70px;
    margin-bottom: 80px;
    box-sizing: border-box;
}

.card-titulo {
    font-size: 18px;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    color: #4D5061;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-left: 15px;
    border-bottom: 1px solid #D0CCD0;
    width: 300px;
    box-sizing: border-box;
}

.card-conteudo {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #4D5061;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    box-sizing: border-box;
}

.card-rodape{
    background-color: #E8C547;
    font-family: 'Exo 2';
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
    padding: 6px;
    color: #30323D;
    text-align: right;
    box-sizing: border-box;
}
